<div id="modal" class="hide">
  <img class="modal-img" src="" alt="image">
</div>
{{ if .IsHome }}
  {{ with resources.Get "js/date.js" | resources.Minify | resources.Fingerprint }}
    <script defer src="{{ .RelPermalink }}"></script>
  {{ end }}
{{ end }}

{{ if and (eq .FirstSection.Path "/posts") (.IsPage) }}
  {{ with resources.Get "js/post.js" | resources.Minify | resources.Fingerprint }}
    <script defer src="{{ .RelPermalink }}"></script>
  {{ end }}

  {{ if (.Page.Store.Get "existedCodeBlock") }}
    <script defer src="/prism/prism.min.js"></script>
  {{ end }}
{{ end }}

<script defer src="https://cloud.umami.is/script.js" data-website-id="e759f855-c180-40d0-9229-b0322827f7f7"></script>
